%ul#student_list
  - @students.each do |student|
    %li
      = student.name
      = formatted_last_called_at_for(student)

= simple_form_for @student do |f|
  = f.input :name
  = f.submit "Add Student"
